body {
    background-color: #0E2954;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.table-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminTable {
    margin-top: 1%;
    border: solid black 1px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    background-color: #267864;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
}


#userTable {
    margin-top: 1%;
    border: solid black 1px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    background-color: #267864;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
}


h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
}

@media (max-width: 768px) {
    #adminTable {
        width: 90%;
    }
    #userTable {
        width: 90%;
    }
}
