body {
    background-color: #0E2954;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#section1 {
    margin: 11% auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 70%;
    max-width: 500px;
    background-color: #195b4b;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}

#maindiv {
    text-align: center;
    padding-left: 5%;
}

td {
    padding-top: 3%;
}

#butn {
    margin: 1% auto;
    font-size: x-large;
    font-weight: bold;
    background-color: #25539c;
    color: white;
    border: 2px solid gold;
    border-radius: 10px;
    text-align: center;
    transition: .3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}

#butn:hover {
    background-color: #45cfaf;
}

input, select {
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

span {
    font-size: small;
    font-weight: bold;
}

@media (max-width: 500px) {
    #section1 {
        width: 90%;
        margin: 10% auto;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }
}


@media (min-width: 500px) {
    #section1 {
        width: 90%;
        margin: 10% auto;
    }

    body {
        width: 100%;
        overflow-x: hidden;
    }
}